<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="titulo"> Vivero El Otoño</h2>
      <hr />
      <img src="../assets/images/img_plt_1.jpg" alt="plantas" style="width:100%" />
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <app-plantas-list></app-plantas-list>
    </div>
  </div>
  <div class="row footer" >
    <div class="col">
      <p style="text-align: center;">Contact us: +57 3102105253 - info@viveroelotonio.com - @viveroelotonio</p>
    </div>
  </div>
</div>
